Repository lab-antwerp-1/Group1-HTML_CSS, pull requests merged in 2021-10, with the labels that each got.

#22 Update development_strategy.md
  planning/development_strategy.md
Labels: Navigation

#21 3-paragraph
  pages/index.html
  styles/index.css
Labels: HTML, CSS

#23 Update html and css files
  index.html
  styles/index.css
Labels: HTML, CSS, Navigation
